html,body{display:block;padding:16px;margin:0;font:normal 16px/24px Helvetica,Arial,sens-serif;}
h1,h2{padding:0;margin:0 0 8px;}
header,footer{display:block;width:600px;margin:0 auto;text-align:center;}header h1,footer h1,header h2,footer h2{width:600px;}
header h2,footer h2{padding-bottom:16px;border-bottom:1px solid #CCC;}
footer{padding-top:16px;border-top:1px solid #CCC;}footer button{padding:4px 8px;}
footer p{font-size:10px;}
#collection{margin:32px auto;width:600px;}#collection .items{display:block;padding:0;margin:0;overflow:hidden;list-style:none;}#collection .items li{position:relative;float:left;display:block;width:131px;height:201px;margin:0 16px 16px 0;border:1px solid #CCC;}#collection .items li img{position:absolute;z-index:1;display:block;width:100%;height:100%;}
#collection .items li h2{position:absolute;z-index:2;right:1px;bottom:1px;padding:4px 6px;margin:0;font-size:14px;line-height:16x;text-align:right;background:#CCC;border-top:1px solid white;border-left:1px solid white;}
#collection .items li:first-child{width:280px;height:420px;}#collection .items li:first-child h2{font-size:18px;line-height:20px;}
