@charset 'utf-8';

// PARAMETERS
// ===========================

@base-margin: 16px;
@base-border: 8px;

@header-colour: #000;
@text-colour: #333;
@background-color: #f1f1f1;
@alt-background-color: white;

@base-video-width: 680px;
@base-video-height: floor(@base-video-width * 9 / 16);
@thumbnail-width: floor((@base-video-width - (3 * @base-margin)) / 4);
@thumbnail-height: floor(@thumbnail-width * 9 / 16);

@playlist-control-width: 36px;
@playlist-control-height: 36px;

@header-height: 100px;
@share-height: 52px;
@listing-width: 164px;
@scrollbar-width: 24px;

// LAYOUT
// ===========================

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, p { padding: 0; margin: 0; }
a { cursor: pointer; }
.invisible() {
	overflow: hidden;
	text-indent: -9999px;
}

html, body {
	display: block;
	width: 100%; height: 100%;
	padding: 0; margin: 0;

	font: normal 12px/14px Verdana, Helvetica, Arial, sans-serif;
	color: #333;
	background: @alt-background-color;
}

.main {
	position: relative;
	display: block;
	height: 100%;
	padding: 
		@header-height
		@base-margin
		(@base-margin * 0.5);
	margin-right: @listing-width + (2 * @base-margin);

	border: @base-border solid @background-color;

	header {
		position: absolute;
		top: 0; left: 0;
		display: block;
		width: 100%;
		height: @header-height - @base-border;

		.invisible;

		background: @background-color url('../images/header.png') no-repeat 24px 20px;
	}

	#messages {
		position: absolute;
		top: @header-height - @base-border; left: 0;
		z-index: 100;
		display: block;
		width: 100%;

		> * {
			display: block;
			float: left;
			width: 100%;
			padding: 8px 16px;

			font-size: 14px;

			cursor: pointer;
			background: @alt-background-color;
			border-bottom: 1px solid @background-color;

			-webkit-box-shadow: 0 4px 8px -2px #CCC;
			-moz-box-shadow: 0 4px 8px -2px #CCC;
			box-shadow: 0 4px 8px -2px #CCC;
		}
	}

	#video {
		position: relative;
		display: block;
		height: 100%;
		padding-top: @thumbnail-height + (@base-margin * 1.5);
		margin-right: @listing-width + @base-margin;

		#playlist {
			position: absolute;
			top: 0; left: 0;
			display: block;
			width: 100%;
			height: @thumbnail-height;

			.items {
				display: block;
				padding: 0;
				margin: 0;
				overflow: hidden;

				font-size: 0;
				text-align: center;
				text-indent: 0;
				white-space: nowrap;

				list-style: none;

				> * {
					display: inline-block;
					width: @thumbnail-width;
					height: @thumbnail-height;
					margin-right: @base-margin;

					opacity: 0.7;
					filter: alpha(opacity=70);

					img { display: block; width: 100%; height: 100%; }
				}
			}

			.controls {

				display: none;

				.prev, .next {
					position: absolute;
					top: (@thumbnail-height - @playlist-control-height) / 2;
					display: block;
					width: @playlist-control-width;
					height: @playlist-control-height;

					.invisible;

					background-position: center center;
					background-repeat: no-repeat;

					opacity: 0.4;
					filter: alpha(opacity=40);
					&:hover { opacity: 0.65; filter: alpha(opacity=65); }
				}
				.prev { left: (@base-margin * 0.75); background-image: url('../images/prev-button.png'); }
				.next { right: (@base-margin * 0.75); background-image: url('../images/next-button.png'); }
			}

			&.active {
				.items > * {
					cursor: pointer;
					&:hover { opacity: 1; filter: alpha(opacity=100); }
				}
				.controls { display: block; }
			}
		}

		#feed {
			display: block;
			width: 100%;
			height: 100%;
			
			video, .video {
				display: block;
				width: 100%;
				max-height: 100%;
			}
		}
	}

	#catalogue {
		float: right;
		h1 { display: none; }
		a {
			position: absolute;
			top: 0; left: 0;
			display: none;
			width: 100%;
			height: 156px;
			.invisible;
			background: url('../images/add-to-collection.png') no-repeat center center;
		}
		li:hover a { display: block; }
	}
}
.side {
	position: absolute;
	top: 0; right: @base-margin;
	display: block;
	width: @listing-width;
	height: 100%;

	padding: (@header-height + (@base-margin * 0.5)) 0 (@share-height + (@base-margin * 0.25));

	h1 {
		position: absolute;
		top: 0; left: 0;
		display: block;
		width: 100%;
		height: @header-height;

		.invisible;

		background: @background-color url('../images/collection.png') no-repeat center center;
	}
	
	#collection .items {
		background: white url('../images/collection-background.png') repeat-y left top;
		> li { padding: @base-margin 0; margin: 0; background: white; }
	}

	.items a {
		@width: 20px;
		@height: 20px;
		@offset: 4px;

		position: absolute;
		right: @offset;
		display: block;
		width: @width;
		height: @height;
		margin: -(@height + @offset) 0 0;
		overflow: hidden;
		text-indent: -9999px;

		background: @alt-background-color url('../images/delete-icon.png') no-repeat center center;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.share {
		position: absolute;
		bottom: 0; left: 0;
		display: block;
		width: 100%;
		height: @share-height;

		.invisible;

		background: black url('../images/share.png') no-repeat center center;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}

#catalogue, #collection {

	display: block;
	width: @listing-width;
	height: 100%;

	overflow: hidden;

	-webkit-box-shadow: 0 4px 8px -2px #CCC;
	-moz-box-shadow: 0 4px 8px -2px #CCC;
	box-shadow: 0 4px 8px -2px #CCC;

	.items {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
		list-style: none;

		background: @alt-background-color;
		border: 1px solid @background-color;

		> * {
			position: relative;
			display: block;
			width: @listing-width - @scrollbar-width;
			margin: @base-margin 0;

			img {
				display: block;
				height: 160px;
				margin: 0 auto;
			}
			p {
				display: none;
				text-align: center;
			}
		}
	}

}